.darkmode {
  cursor: pointer;
  padding: 0;
  position: relative;
  background-color: var(--lightgray);
  border: none;
  border-radius: 4px;
  width: 2rem;
  height: 2rem;
  margin: 0;
  text-align: inherit;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  & svg {
    position: relative;
    width: 18px;
    height: 18px;
    top: auto;
    fill: var(--darkgray);
    transition: opacity 0.1s ease;
  }
}

:root[saved-theme="dark"] {
  color-scheme: dark;
}

:root[saved-theme="light"] {
  color-scheme: light;
}

:root[saved-theme="dark"] .darkmode {
  & > .dayIcon {
    display: none;
  }
  & > .nightIcon {
    display: inline;
  }
}

:root .darkmode {
  & > .dayIcon {
    display: inline;
  }
  & > .nightIcon {
    display: none;
  }
}
